.DS_Store

# tar files
*.tar
# Object file
*.o

# xyz files
*.xyz

# output files
*.out

# dat files
*.dat

# notebook checkpoints
.ipynb_checkpoints/*
conductivity_test/.ipynb_checkpoints/
QED_CI/.ipynb_checkpoints/

# pycache files
__pycache__/*
conductivity_test/__pycache__/

# psi4 timer files
timer.dat

# psi4 clean files
*.clean

# cube files
*.cube
